<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>443378748712-14l8sk9lg9l4p06rq8ra021qu6phiug6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443378748712-14l8sk9lg9l4p06rq8ra021qu6phiug6</string>
	<key>API_KEY</key>
	<string>AIzaSyA1HoSKGDk8Bf4OaXlkEAvUCSKqq0VXl2c</string>
	<key>GCM_SENDER_ID</key>
	<string>443378748712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.tm.senseios</string>
	<key>PROJECT_ID</key>
	<string>sense-b69e9</string>
	<key>STORAGE_BUCKET</key>
	<string>sense-b69e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443378748712:ios:7b396fe30c150928</string>
	<key>DATABASE_URL</key>
	<string>https://sense-b69e9.firebaseio.com</string>
</dict>
</plist>